@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
   color: #494B4B;
}

/*****MAP SECTION START*****/
/****MAP SECTION END****/
.nav-item a{
    background-image: linear-gradient(
    to right,
    #77B425,
    #FF6300 50%,
    #77B425 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.nav-item a:hover{
    background-position: 0;
    font-weight: 600;
}

h1{
    font-size:100px;
    font-weight: bold;
    color: #77B425;
}
h2{
    font-size:50px;
    font-weight: bold;
    color: #77B425; 
}
h3{
    font-size:40px;
    font-weight: bold;
    color: #77B425;
}
a{
    text-decoration: none;
    color:#494B4B;
    transition: 0.3s;
}
a:hover{
    color: #77B425;
}
.subtitle {
    font-size: 30px;
    font-weight: 500;
    color: #494B4B;
}
.icon-img {
    font-size: 60px;
    transition: 0.3s;
}
.icon-img:hover{
    color: #77B425;
}

.icon-contact {
    font-size: 30px;
    color: #77B425;
}
.list-importancia li::marker{
    color: #77B425;
    font-size: 25px;
}
.list-footer a, .list-contact a{
    color: #494B4B;
    text-decoration: none;
    transition: 0.5s;
}
.list-footer a:hover, .list-contact a:hover{
    color: #77B425;
}
.img-logo-footer {
    width: 50px;
    height: auto;
}
.top-cta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.top-cta span {
    transition: 0.5s;
}
.top-cta span{
    position: relative;
    font-size: 22px;
}
.top-cta span::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #77B425, #FF6300);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}
.top-cta:hover span{
    color: #77B425;
}
.top-cta:hover span::before{
    transform: scaleX(1);
}
.top-cta .icon-primary{
    background-image: linear-gradient(
          to right,
          #77B425,
          #FF6300 50%,
          #77B425 50%
        );
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    font-size: 40px;
}
.top-cta .icon-primary{
    transition: .3s;
}
.top-cta:hover .icon-primary{
    background-position: 0;
}
footer p{
    line-height: 30px;
}
.btn-green{
    background-color: #77B425;
    color:#ffffff;
    padding: 5px 50px;
    transition:.5s;
}
.btn-green:hover{
    background-color: #494B4B;
    color:#ffffff;
}
.form-check-input{
    border: 1px solid #77B425;
}
.form-check-input:checked{
    background-color:#77B425;
    border-color:#77B425;
}
.form-control{
    border:1px solid #77B425;
}
#subscribe label {
    font-size: 22px;
    font-weight: 600;
    color: #77B425;
}
#subscribe input[type=email] {
    border: 1px solid #77B425;
    border-radius: 10px;
    padding-left:10px;
    width: max-content;
}
#subscribe input[type=email]:focus-visible {
    outline: none;
}
#subscribe button{
    background-color: #77B425;
    border: none;
    border-radius: 5px;
    padding: 5px 30px;
    color: #fff;
    transition: .3s;
}
#subscribe button:hover{
    background-color: #494B4B;
}
.copy-info{
    color: #77B425;
}
.copy-info_container{
    margin-bottom: 0;
    margin-top: 20px;
}
.text-footer-container p{
    font-size: 16px;
    line-height: 22px;
}
footer{
    margin-bottom: 0;
}
footer h5{
    color: #77B425;
    font-size: 22px;
    font-weight: 600;
}